<div id="ep_countable-popup" class="popup" style="top: 40px; visibility:visible !important">
    <div class="popup-content" style="opacity: 1; padding: 15px;">
        <!-- <h1>Word Count</h1> -->
        <table style="font-size: 20px">
            <!-- <tr>
                <td data-l10n-id="ep_countable.paragraphs"></td>
                <td id="ep_countable-paragraphs"></td>
            </tr>
            <tr>
                <td data-l10n-id="ep_countable.sentences"></td>
                <td id="ep_countable-sentences"></td>
            </tr> -->
            <tr>
                <td>Word Count: </td>
                <td id="ep_countable-words"></td>
            </tr>
			<tr>
                <td colspan="2" id="ep_countable-words-msg"> </td>
            </tr>
            <!-- <tr>
                <td data-l10n-id="ep_countable.characters"></td>
                <td id="ep_countable-characters"></td>
            </tr> -->
        </table>
    </div>
</div>
